<div class="wrap-center col-centered">
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<h1>Search Results</h1>
		</div>
		<div class="row">
			<div class="col">
				<ul>
					<div ng-repeat="parking in vm.parkings" >
						<div class="row">
							<div class="card w-100">
							  <div class="card-block">
								<h4 class="card-title">{{$index + 1}}.&nbsp <a href ng-click="vm.showParkingOnMap($index)"> {{parking.formatted_address}} </a> </h4>
								<p class="card-text">Some quick example text of a search result's description.</p>
								<a href="#" class="card-link">Link 1</a>
								<a href="#" class="card-link">Link 2</a>
							  </div>
							</div>
						</div>
					</div>
				</ul>
			</div>
			<div class="col">
				<div id="map"></div>
			</div>
		</div>
</div>