<div class="wrap-center col-centered">
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<h1>Search Results</h1>
		</div>
		<div class="row">
			<div class="col">
				<ul>
					<div ng-repeat="parking in vm.parkings" >
						<div class="row">
							{{$index + 1}}.&nbsp <a href ng-click="vm.showParkingOnMap($index)"> {{parking.formatted_address}} </a>
						</div>
					</div>
				</ul>
			</div>
			<div class="col">
				<div id="map"></div>
			</div>
		</div>
</div>