<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <title>ZenSpot - Easy Parking</title>

	<!--JQUERY-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Latest compiled and CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	
	<!--Google Fonts - PT Sans -->
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet'  type='text/css'>
	
	<!--Google Maps API -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1hujWG0MPyU9Hx2GlpvU_kYqwR9C_i9U" type="text/javascript"></script>
	
    <link href="app-content/app.css" rel="stylesheet" />
	<link href="app-content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <!-- header -->
    <header>
		<nav class="navbar fixed-top navbar-toggleable-md navbar-light">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-header">
				<a class="navbar-brand" href="/">
				<img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
				ZenSpot
				</a>
			</div>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				
				<!--filler to move menu items to the right side -->
				<ul class="navbar-nav mr-auto"></ul>	
				<ul class="navbar-nav mt-md-0">
					<div>
						<li class="nav-item active">
							<a class="nav-link" href="/app/#/dashboard/new_parking"><button type="button" class="btn btn-outline-primary">Rent Spot</button></a>
						</li>
					</div>
					<div ng-if="!firstName">
						<li class="nav-item">
							<a class="nav-link" href="/app/#/about">About</a>
						</li>
					</div>
					<div ng-if="!firstName">
						<li class="nav-item">
							<a class="nav-link" href="/register">Sign Up</a>
						</li>
					</div>
					<div ng-if="!firstName">	
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
					</div>
					<div ng-if="firstName">
						<li class="nav-item active">
							<a class="nav-link" href="/app/#/dashboard/account">{{firstName}}</a>
						</li>
					</div>
					<div ng-if="firstName">
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
					</div>
				</ul>
				
			</div>
		</nav>
	
		<div class="flash-message" ng-if="flash">
            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
        </div>
    </header>

    <!-- main -->
    <main ui-view></main>

    <!-- footer -->
    <footer class="footer" ng-class="{'fixed-bottom': isActive('/home')}">
		<div class="col-centered">
				<div class="row justify-content-md-center">
					<div class="col"> <a href="/"> <i class=" fa fa-facebook">   </i> </a> </div>
					<div class="col"> <a href="/"> <i class="fa fa-twitter">   </i> </a> </div>
					<div class="col"> <a href="/"> <i class="fa fa-google-plus">   </i> </a> </div>
					<div class="col"> <a href="/"> <i class="fa fa-youtube">   </i> </a> </div>
		</div>
    </footer>

    <!-- external scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <!-- application scripts -->
    <script src="app.js"></script>
    <script src="app-services/user.service.js"></script>
	<script src="app-services/parking.service.js"></script>
    <script src="app-services/flash.service.js"></script>
	<script src="app-services/typed.js"></script>
    <script src="home/index.controller.js"></script>
	<script src="dashboard/index.controller.js"></script>
    <script src="account/index.controller.js"></script>
	<script src="about/index.controller.js"></script>
	<script src="new_parking/index.controller.js"></script>
	<script src="search/index.controller.js"></script>
</body>

</html>