<div class="dashboard-container">
	<h1>New Parking for Rent</h1>
    <form method="post">
			<div class="form-group">
				<input type="text" id="address" class="address form-control" placeholder="Enter an Address" autocomplete="off" ng-model="vm.parking.address" required />
			</div>
		
		<!-- 
		<div class="row">
			<ul id="addrdropdown" class="dropdown-menu" >
			</ul>
		</div>
        <div class="form-group"> 
            <input type="text" id="city" class="form-control" placeholder="Enter a City" ng-model="vm.parking.city" required />
        </div>
        <div class="form-group">
            <input type="text" id="state" class="form-control" placeholder="Choose a State" ng-model="vm.parking.state" required />
        </div>
		-->
		
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.addParking()">Add</button>
        </div>
    </form>
</div>